<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/desktop-mediadboat/src/org/entermediadb/mediaboat/MainLaunch.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.entermediadb.mediaboat.MainLaunch"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://localhost:8080 admin adminmd5421c0af185908a6c0c40d50fd5e3f16760d5580bctstampvWT12QW26lMf/L1DQa4kKQ=="/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="desktop-mediadboat"/>
</launchConfiguration>
