@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
html,
body {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
body {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background-size: 100vw 100vh;
	scrollbar-width: thin;
	scrollbar-color: #f1f1f1 #8a8a8a;
}
body::-webkit-scrollbar {
	width: 6px;
	background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
	background-color: #8a8a8a;
	border-radius: 6px;
}
.navbar {
	padding: 0;
	background: url("../images/body-bg.jpg") repeat;
}
main.container {
	min-height: calc(100vh - 170px);
	padding-top: calc(var(--bs-gutter-x) * 0.5);
}
.btn-wide {
	height: 100px;
	padding: 0.5rem;
	font-size: 1rem;
	margin-bottom: calc(var(--bs-gutter-x) * 0.5);
	color: #378637;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(70, 170, 70, 0.15);
}
.btn-wide:active,
.btn-wide.active {
	color: white !important;
	background-color: #378637 !important;
}
.btn-wide.active::after {
	content: "";
	position: absolute;
	top: 38px;
	right: -20px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #378637;
}
.btn.btn-wide,
.btn.btn-wide:hover {
	border: none;
}
.btn-wide:not(.active):hover {
	color: #378637;
	background-color: rgba(70, 170, 70, 0.25);
}

.btn-wide .fas {
	font-size: 2.25rem;
	margin-bottom: 0.5rem;
}
.btn-wide .bi {
	font-size: 2.25rem;
}

.btn.active .bi-shield-lock::before,
.btn-wide:hover .bi-shield-lock::before {
	content: "\f537";
}
.btn.active .bi-people::before,
.btn-wide:hover .bi-people::before {
	content: "\f4CF";
}
.btn.active .bi-box::before,
.btn-wide:hover .bi-box::before {
	content: "\f7D2";
}

#configcontent {
	height: 100%;
	overflow-y: auto;
	border-radius: var(--bs-border-radius);
	border: 1px solid rgba(70, 170, 70, 0.15);
	display: flex;
	flex-direction: column;
}
#configcontent .card-thumbnail img {
	max-height: 250px;
	object-fit: cover;
}
.library-container .btn {
	border: none !important;
}
.config-content {
	height: 100%;
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}
.form-container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
#savedLibraries {
	width: 100%;
	max-width: 940px;
	padding: 16px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.library-card {
	width: 220px;
	text-decoration: none;
	margin: 8px;
	text-align: center;
	cursor: pointer;
	color: #444444;
	background-color: #ffffff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25),
		-1px -1px 4px rgba(255, 255, 255, 0.15);
	width: 100%;
	max-width: 250px;
	object-fit: contain;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease-in-out;
}

a.library-card:hover {
	color: #555555;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25),
		-2px -2px 8px rgba(255, 255, 255, 0.15);
	transform: translateY(-4px);
}

.library-card .library-thumb {
	height: 80px;
	width: 100%;
	padding: 10px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
}
.library-card img {
	width: 100%;
	height: 100%;
	max-height: 80px !important;
	object-fit: contain;
	padding: 8px;
}
.library-card h3 {
	color: #444444;
	font-size: 18px !important;
	font-weight: bold;
	margin: 8px;
}
.library-card p {
	padding: 0 8px 6px;
	margin: 0;
}
.library-card button {
	position: absolute;
	top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	border: none;
	font-size: small;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}
.library-card:hover button {
	opacity: 1;
}
.library-card button:hover {
	background-color: rgba(255, 255, 255, 0.85);
}
.library-card button.edit {
	right: 8px;
	color: royalblue;
}
.library-card button.delete {
	right: 42px;
	color: red;
}

@media screen and (min-width: 960px) {
	.pad-left {
		padding-left: 200px;
	}
}
@media screen and (min-width: 576px) and (max-width: 960px) {
	.container {
		max-width: 100% !important;
	}
}
.pad-right {
	width: 150px;
}
@media screen and (max-width: 1199px) {
	.pad-right {
		width: 0px;
	}
}
.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: fixed;
	top: calc(50vh - 44px);
	left: 50%;
	transform: translate(-50%, -50%);
	border: 10px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35)
		rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
h5 {
	font-weight: bold;
	font-size: 20px;
}
h5 span.small {
	font-size: 12px;
	color: #666666;
}
hr.light {
	border-color: #c1c1c1;
}
.template-card {
	border: none;
}
.transition-3d-hover {
	transition: all 0.2s ease-in-out;
}
.transition-3d-hover:hover,
.transition-3d-hover:focus {
	transform: translateY(-3px);
}
